body {
  margin: 0;
  overflow-x: hidden;
}

.bold-text {
  font-weight: 700;
}

.medium-text {
  font-weight: 500;
}

.regular-text {
  font-weight: 400;
}

.component-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  padding: 0 50px;
}

.top-img {
  position: absolute;
  left: -230px;
  z-index: -1;
}

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Spartan", sans-serif;
  width: 1080px;
  margin: 20px 10px;
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 55px;
}

.section-text {
  display: flex;
  flex-direction: column;
  width: 37%;
}

.text-heading {
  font-size: 39px;
  letter-spacing: -1.7px;
  line-height: 40px;
  color: hsl(300, 43%, 22%);
  margin-bottom: 16px;
}

.text-paragraph {
  font-size: 13px;
  color: hsl(303, 10%, 53%);
  line-height: 20px;
  letter-spacing: -0.3px;
  margin: 0;
}

.ratings {
  display: flex;
  flex-direction: column;
  width: 485px;
  margin-top: 20px;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: hsl(300, 24%, 96%);
  width: 360px;
  padding: 3px 22px;
  margin: 7px 0;
  border-radius: 8px;
}

.star-icon {
  width: 15px;
  margin: 0 2.8px;
}

.rating-text {
  font-size: 13px;
  color: hsl(300, 43%, 22%);
  letter-spacing: -0.2px;
  margin-left: 25px;
}

.left-align {
  align-self: flex-start;
}

.middle-align {
  align-self: center;
}

.right-align {
  align-self: flex-end;
}

.bottom-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 240px;
}

.review {
  display: flex;
  flex-direction: column;
  background-color: hsl(300, 43%, 22%);
  width: 24%;
  padding: 25px 35px;
  border-radius: 7.5px;
}

.reviewer-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reviewer-pic {
  border-radius: 100%;
  width: 40px;
  margin-right: 20px;
}

.reviewer-details {
  display: flex;
  flex-direction: column;
  font-size: 12.5px;
}

.reviewer-name {
  color: hsl(0, 0%, 100%);
  letter-spacing: 0.2px;
  margin-top: 15px;
  margin-bottom: 0;
}

.reviewer-title {
  color: hsl(333, 80%, 67%);
  margin-top: 4px;
  opacity: 0.8;
}

.review-text {
  color: hsl(300, 24%, 96%);
  font-size: 11px;
  line-height: 18.5px;
  letter-spacing: 0.1px;
  margin-top: 14px;
  opacity: 0.85;
}

.bottom-img {
  position: absolute;
  right: -75px;
  height: 500px;
  z-index: -1;
}

@media (max-width: 1045px) {
  .component-container {
    padding: 20px 0;
  }

  .component {
    width: 400px;
    margin: 20px 0;
  }

  .top-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 45px;
  }

  .section-text {
    width: 78%;
    margin-bottom: 10px;
  }

  .text-heading {
    margin-bottom: 25px;
    font-size: 36px;
  }

  .text-paragraph {
    font-size: 14px;
  }

  .ratings {
    width: 400px;
  }

  .rating {
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 78%;
    padding: 18px 20px 4px;
  }

  .rating-text {
    margin-left: 0;
    width: 100%;
    font-size: 14px;
  }

  .bottom-section {
    flex-direction: column;
    justify-content: space-between;
    height: 740px;
  }

  .review {
    align-self: center;
    width: 70%;
  }

  .review-text {
    font-size: 13px;
    line-height: 21px;
  }
}
